@font-face {
  font-family: "montserrat";
  src: url('../montserrat/Montserrat-Regular.otf');
}

/*initialisation de la page */

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'montserrat';
}

/*mis en page du haut de page*/

header {
  height: 20%;
  padding-top: 1%;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-bottom: 3px solid #878787;
}

/*mis en page de la barre de navigation*/

nav {
  height: 160px;
  margin-left: 1%;
  margin-top: 1%;
  position: fixed;
  z-index: 500;
  font-family: 'montserrat';
  font-weight: normal;
  font-style: normal;
  min-height: 1500px:
}
.clic {
  width: 60px;
  height: 50px;
  background-color: rgb(29, 112, 184);
  border: 2px solid black;
}
.clic:hover {
  color: white;
  border: 2px solid white;
}
.navh {
  background-color: rgb(29, 112, 184);
  margin-top: 5%;
  border: 2px solid black;
}
.X {
  cursor: pointer;
  text-align: center;
  background-color: rgb(29, 112, 184);
  color: black;
  width: 10%;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  font-size: 30px;
  border: 2px solid black;
  font-weight: bold;
}
.X:hover {
  color: white;
  border: 2px solid white;
}
nav ul {
  list-style: none;
  margin-right: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: black;
}
nav li {
  color: black;
  cursor: pointer;
  font-size: small;
  margin-top: 8%;
  border-bottom: 2px solid black;
}
nav li:hover {
  color: white;
}
nav li:visited {
  color: #800000;
}

/*Nav 4axes*/

.mondropdown {
  font-family: 'montserrat';
  font-weight: normal;
  font-style: normal;
  color: black
}
.mondropdown a:visited {
  color: black;
}
.mondropdown a:hover {
  color: white;
}
.dropbtn {
  background-color: rgb(29, 112, 184);
  color: black;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  font-family: 'montserrat';
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}
.dropdown-content a:hover {
  background-color: black;
  color: white;
}
.mondropdown:hover .dropdown-content {
  display: block;
}
.mondropdown:hover .dropbtn {
  background-color: rgb(29, 112, 184);
  color: white;
}

/*reduit la bar de nav si ecran de telephone portable*/

@media screen and (max-width: 750px) {
  nav {
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  nav li {
    margin-top: 4%;
  }
}

@media screen and (max-height: 400px) {
  nav li{
    font-size: 11px;
    margin-top: 4%;
    margin-right: 2%;
    }
}

@media screen and (max-height: 400px) {
  .navh {
  margin-top: 0.5%;
    }
}
/*annule le le scrool sur 4axes si plus petit que 768px*/

@media screen and (max-width: 768px) {
  .dropdown-content a {
    display: none;
  }
}

/*mis en place du bloc projet de territoire*/

.bterritoire {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  display: block;
  margin: auto;
  font-family: 'montserrat';
}

/*mis en place des formes rond triange*/

.rondone {
  cursor: pointer;
  float: right;
  margin-right: -30%;
  margin-top: 18%;
}
.rondone:hover {
  border-bottom: 3px solid #425A01;
}

/*mis en place du texte dans le 1er rond*/

.rondone p {
  color: #909090;
  text-align: center;
  margin-top: 37%;
  font-size: 20px;
  /*mis en place du 2eme rond*/
}
.rondtwo {
  cursor: pointer;
  text-align: center;
  margin: auto;
}
.rondtwo:hover {
  border-top: 4px solid #005CA6;
}

/*mis en place du 3eme rond*/

.triangletwo {
  position: relative;
  text-align: center;
  display: block;
  margin: auto;
  padding-bottom: 5%;
  z-index: 10;
}
.triangletwo:hover {
  border-bottom: 4px solid #F78E00;
}

/*mis en place du 3eme ronds*/

.rondthree {
  cursor: pointer;
  text-align: center;
  margin: auto;
  float: left;
  margin-top: 18%;
  margin-left: -30%;
}
.rondthree:hover {
  border-bottom: 4px solid #D21C11;
}

/*bouton a cliqué*/

.inclick {
  margin: 0 auto;
  width: 100%;
  height: 10%;
  text-align: center;
  display: block;
  font-size: 20px;
  font-family: 'montserrat';
  background-color: #F39200;
  color: white;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
.inclick:hover {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: #94C11F;
  color: white;
}

/*bouton a cliqué retour*/

.onclick {
  width: 15%;
  height: 35px;
  font-family: 'montserrat';
  font-size: 18px;
  float: right;
  background-color: #94C11F;
  margin-top: -6.50%;
  margin-right: 5%;
  border: none;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 7px 25px #333333;
}

/*agrandis le bloc contact sur petit ecrant*/

@media screen and (max-width: 750px) {
  .onclick {
    width: 80%;
    margin-top: 2%;
  }
}
@media screen and (max-width: 992px) {
  .onclick {
    width: 80%;
    margin-top: 2%;
  }
}
.onclick:hover {
  background-color: white;
  color: #94C11F;
  border: 2px solid #94C11F;
}
main {}

/*ajout du style au texte descriptif*/

.description {
  background-color: white;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'montserrat';
  font-size: 13px;
  color: #A26303;
  border: 1px solid #F39200;
  border-radius: 4px;
  box-shadow: 6px 5px 25px #333333;
}
.p1, .p5 {
  padding-left: 2%;
}
.p2, .p6 {
  padding-left: 2%;
}
.p3, .p7 {
  padding-left: 2%;
}
.p4 {
  padding-left: 2%;
  padding-right: 1%;
}

/*mis en page des 4 axes*/

section {
  border-top: 2px solid #94C11F;
  border-bottom: 2px solid #F29100;
  background-color: rgba(148, 193, 31, 0.26);
  box-shadow: 0px 14px 13px #333333;
  font-family: 'montserrat';
}

/*mis en page du texte de section*/

section h1 {
  text-align: center;
  color: #848484;
}

/*placement et stylage des logo des axes*/

.logoaxe {
  margin-top: 5%;
}
.circle1 {
  cursor: pointer;
  background-color: white;
  text-align: center;
  margin: auto;
  border: 5px solid #94C11F;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  box-shadow: -2px 5px 25px #333333;
}
.circle1:hover {
  border: 5px solid #F29100;
  color: black;
}
.circle2 {
  cursor: pointer;
  background-color: white;
  text-align: center;
  margin: auto;
  border: 5px solid #1D70B8;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  box-shadow: -2px 5px 25px #333333;
}
.circle2:hover {
  border: 5px solid #E30613;
}
.circle3 {
  cursor: pointer;
  background-color: white;
  text-align: center;
  margin: auto;
  border: 5px solid #E30613;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  box-shadow: -2px 5px 25px #333333;
}
.circle3:hover {
  border: 5px solid #1D70B8;
}
.circle4 {
  cursor: pointer;
  background-color: white;
  text-align: center;
  margin: auto;
  border: 5px solid #F29100;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  box-shadow: -2px 5px 25px #333333;
}
.circle4:hover {
  border: 5px solid #94C11F;
}

/*1er logo*/

.choisir p {
  font-size: 15px;
  font-weight: 800;
}
.tedee {
  margin-top: 2%;
}
.resine {
  margin-top: 9%;
  margin-left: -40%;
}
.evaleco {
  margin-top: -9%;
  margin-left: 60%;
}
.evaleco2 {
  margin-top: %;
  margin-left: %;
}
.capg {
  margin-top: 3%;
  margin-left: -52%;
}
.sescol {
  margin-top: -20%;
  margin-left: 56%;
}
.sescol2 {
  margin-top: -%;
  margin-left: %;
}
.choisir {
  margin-left: 3%;
  margin-top: 1%;
}

/*2eme logo*/

.eoep {
  margin-top: -1%;
  margin-bottom: -10%;
}
.initiative {
  margin-left: 3%;
  margin-top: -2%;
}

/*3eme logo*/

.fdb {
  margin-top: -12%;
  margin-left: 60%;
}
.apese {
  margin-top: -14%;
  margin-left: 56%;
}
.apese2 {
  padding-top: 10px;
  margin-left: %;
}
.apese p {
  font-size: 15px;
  font-weight: 800;
}

/*4eme logo*/

.eric21 {
  margin-top: -14%;
  margin-left: 57%;
}
.eric212 {
  margin-top: -%;
  margin-left: %;
}
.fab {
  margin-top: 6%;
  margin-left: 3%;
}
.fab2 {
  margin-top: %;
  margin-left: %;
}
.resine2 {
  margin-top: 22%;
  margin-left: -47%;
}
.eoep2 {
  margin-top: 5%;
  margin-bottom: -10%;
}

/*placement des titres au dessous des logos*/

.paxes1 {
  text-align: center;
  color: #94C11F;
}
.paxes1 h3:hover {
  cursor: pointer;
  color: #F29100;
  border: 2px solid #F29100;
}
.paxes2 {
  text-align: center;
  color: #1D70B8;
}
.paxes2 h3:hover {
  cursor: pointer;
  color: #E30613;
  border: 2px solid #E30613;
}
.paxes3 {
  text-align: center;
  color: #E30613;
}
.paxes3 h3:hover {
  cursor: pointer;
  color: #1D70B8;
  border: 2px solid #1D70B8;
}
.paxes4 {
  text-align: center;
  color: #F29100;
}
.paxes4 h3:hover {
  cursor: pointer;
  color: #94C11F;
  border: 2px solid #94C11F;
}
.paxes1 h3 {
  border: 2px solid #94C11F;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 5px 17px #333333;
}
.paxes2 h3 {
  border: 2px solid #1D70B8;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 5px 17px #333333;
}
.paxes3 h3 {
  border: 2px solid #E30613;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 5px 17px #333333;
}
.paxes4 h3 {
  border: 2px solid #F29100;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 5px 17px #333333;
}

/*mis en page des blocs a et b*/

.bloc {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #E3F2FF;
}
.bloca {
  background-color: white;
  display: block;
  margin: auto;
  width: 50%;
  border: 4px solid #F39200;
  text-align: center;
  border-radius: 3px;
  box-shadow: 5px -5px 12px #333333;
}
.blocb {
  background-color: white;
  display: block;
  margin: auto;
  width: 50%;
  border: 4px solid #F39200;
  text-align: center;
  border-radius: 3px;
  box-shadow: 5px -5px 12px #333333;
}

/*agrandis le bloc contact sur petit ecrant*/

@media screen and (max-width: 750px) {
  .bloca {
    width: 80%;
  }
  .blocb {
    width: 80%;
  }
}

/*titre des blocs*/

.bloca h3 {
  font-size: 30px;
  color: #878787;
}
.blocb h3 {
  font-size: 30px;
  color: #878787;
}

/*mis en place des boutons*/

.creation {
  margin-bottom: 4%;
  background-color: #F39303;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 15px;
}
.decrypter {
  margin-bottom: 4%;
  background-color: #F39303;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 15px;
}
.creation:hover {
  background-color: white;
  border: 1px solid #E30613;
  color: #E30613;
}
.decrypter:hover {
  background-color: white;
  border: 1px solid #E30613;
  color: #E30613;
}

/*Inauguration*/

.Inauguration {
  width: 100%;
  text-align: center;
  font-family: 'montserrat';
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: black;
  color: white;
  box-shadow: 0px -10px 13px #333333;
}

/*mis en page de contact*/

footer {
  font-family: 'montserrat';
  width: 100%;
  height: 50%;
  border-top: 1px solid #E30613;
}

/*mis en page du cadre de contact*/

.contact1 {
  width: 25%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 1%;
  background-color: #F29100;
  text-align: center;
  display: block;
  border-radius: 5px;
  box-shadow: 8px -7px 22px #333333;
}

/*mis en page du texte contact*/

.contact1 h3 {
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid white;
  font-size: 25px;
}

/*mis en page de nous contacter*/

.contact1 p {
  color: white;
  float: left;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 3%;
  font-size: 18px;
}

/*mis en page du boutton contact*/

.lcontact {
  background-color: #94C11F;
  border: 1px solid white;
  color: white;
  font-size: 22px;
  margin-top: 2%;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 8px 6px 8px #694817;
}
.lcontact:hover {
  background-color: white;
  border: 1px solid #878787;
  color: black;
}

/*mis en page de la page contact*/

.bog {}
.bg {
  height: 100%;
}
.contact {
  width: 50%;
  height: 50%;
}

/*Placement logo avant contact*/

.logomini {
  text-align: center;
  margin: auto;
  width: 80%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*Copyright*/

.Copyright {
  float: right;
  margin-right: 2%;
}

/*Faire un don*/

.don {
  margin-left: 2%;
}
.bdon {
  border: 1px solid black;
  background-color: white;
  color: black;
}

/*agrandis le bloc contact sur petit ecrant*/

@media screen and (max-width: 750px) {
  .contact1 {
    width: 60%;
  }
  .logomini {
    display: none;
  }
}

/*slide sur la plage index*/

#slide0 {
  height: 81vh;
  background: url(../img/20160308_144718.jpg) 0 no-repeat fixed;
  background-size: cover;
  z-index: 100;
  border-bottom: 2px solid #878787;
}
#slide1 {
  height: 100%;
  background: url(../img/20160308_145117.jpg) 0 no-repeat fixed;
  background-size: cover;
  z-index: 100;
}
#slide2 {
  height: 100vh;
  background: url(../img/installation_HAUR.jpg) center 0 no-repeat fixed;
  background-size: cover;
  border-bottom: 2px solid #E30613;
  background-position: 0 -113px;
}
#slide3 {
  height: 100vh;
  background: url(../img/20160308_144812.jpg) center 0 no-repeat fixed;
  background-size: cover;
  border-top: 2px solid #1D71BA;
}
#slide4 {
  height: 100vh;
  background: url(../img/20160309_144023.jpg) center 0 no-repeat fixed;
  background-size: cover;
  border-top: 2px solid #1D71BA;
}
#slide5 {
  height: 100vh;
  background: url(../img/20160324_104131.jpg) center 0 no-repeat fixed;
  background-size: cover;
  border-top: 2px solid #1D71BA;
}
#video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

/* L'enfant */

#video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
