/*initialisation de la page */

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/*mis en page du haut de page*/

header {
  padding-top: 1%;
  padding-bottom: 3%;
  text-align: center;
  background-color: white;
  color: #94C11F;
  border-bottom: 2px solid #878787;
}

/*mis en page de la barre de navigation*/

nav {
  margin-left: 1%;
  margin-top: 1%;
  position: fixed;
  z-index: 10;
  font-family: Verdana;
}
.clic {
  width: 60px;
  height: 50px;
  background-color: rgb(29, 112, 184);
  border: 2px solid black;
}
.clic:hover {
  color: white;
  border: 2px solid white;
}
.navh {
  background-color: rgb(29, 112, 184);
  margin-top: 5%;
  border: 2px solid black;
}
.X {
  cursor: pointer;
  text-align: center;
  background-color: rgb(29, 112, 184);
  color: black;
  width: 10%;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  font-size: 30px;
  border: 2px solid black;
  font-weight: bold;
}
.X:hover {
  color: white;
  border: 2px solid white;
}
nav ul {
  list-style: none;
  margin-right: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: black;
}
nav li {
  color: black;
  cursor: pointer;
  font-size: small;
  margin-top: 10%;
  border-bottom: 2px solid black;
}
nav li:hover {
  color: white;
}
a:visited {
  color: #800000;
}

/*Placement et stylage a l'interieur de la balise main*/


/*mis en plage de présentation */

.presentation1 {
  border-top: 2px solid #175624;
  border-bottom: 2px solid #175624;
}
.presentation2 {
  border-top: 2px solid #F37022;
  border-bottom: 2px solid #F37022;
}
.presentation3 {
  border-top: 2px solid #639A1A;
  border-bottom: 2px solid #639A1A;
}
.presentation4 {
  border-top: 2px solid #70B220;
  border-bottom: 2px solid #70B220;
}
.presentation5 {
  border-top: 2px solid #FD8412;
  border-bottom: 2px solid #FD8412;
}
.presentation6 {
  border-top: 2px solid #FD8412;
}

/*mis en place du logo*/

.tedee {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}
.choisir {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}
.resine {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}
.evaleco {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}
.capg {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}
.sescol {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}

/*ajout du style au texte descriptif*/

.description {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description2 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description3 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description4 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description5 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description6 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}

/*ajout du style au paragraphe du texte descriptif*/

.description p {
  font-family: Verdana;
  font-size: 14px;
  color: #175624;
  margin-left: 25%;
  margin-right: 25%;
}
.description2 p {
  font-family: Verdana;
  font-size: 14px;
  color: #F37022;
  margin-left: 25%;
  margin-right: 25%;
}
.description3 p {
  font-family: Verdana;
  font-size: 14px;
  color: #639A1A;
  margin-left: 25%;
  margin-right: 25%;
}
.description4 p {
  font-family: Verdana;
  font-size: 14px;
  color: #70B220;
  margin-left: 25%;
  margin-right: 25%;
}
.description4 ul {
  font-family: Verdana;
  font-size: 14px;
  color: #70B220;
  margin-left: 25%;
  margin-right: 25%;
}
.description5 p {
  font-family: Verdana;
  font-size: 14px;
  color: #655546;
  margin-left: 25%;
  margin-right: 25%;
}
.description6 p {
  font-family: Verdana;
  font-size: 14px;
  color: black;
  margin-left: 25%;
  margin-right: 25%;
}
.description6 ul {
  font-family: Verdana;
  font-size: 14px;
  color: black;
  margin-left: 25%;
  margin-right: 25%;
}

/*Ajout du lien de redirection vers le site web*/

.lien1 p {
  color: #0C3A63;
  margin-left: 2%;
}
.lien1 p:hover {
  color: black;
}

/*mis en page des 4 axes*/

section {
  border-top: 3px solid #94C11F;
  border-bottom: 3px solid #F29100;
  background-color: rgba(148, 193, 31, 0.26);
  box-shadow: 0px 14px 13px #333333;
}

/*mis en page du texte de section*/

section h1 {
  text-align: center;
  color: #848484;
}

/*placement et stylage des logo des axes*/

.logoaxe {
  margin-top: 5%;
}

/*mis en place du bouton next*/

.next {
  margin-right: 1%;
  float: right;
  border: 1px solid #E30613;
  color: #E30613;
  background-color: white;
  border-radius: 5px;
}
.next:hover {
  border: 1px solid white;
  color: white;
  background-color: #E30613;
}


/*mis en place du bouton previous*/
.previous {
  margin-left: 1%;
  float: left;
  border: 1px solid #E30613;
  color: #E30613;
  background-color: white;
  border-radius: 5px;
}

.previous:hover {
  border: 1px solid white;
  color: white;
  background-color: #E30613;
}

/*mis en page de contact*/

footer {
  width: 100%;
  height: 50%;
  border-top: 2px solid #E30613;
}

/*mis en page du cadre de contact*/

.contact1 {
  width: 25%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 1%;
  background-color: #F29100;
  text-align: center;
  display: block;
  border-radius: 5px;
  box-shadow: 8px -7px 22px #333333;
}

/*mis en page du texte contact*/

.contact1 h3 {
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid white;
  font-size: 25px;
}

/*mis en page de nous contacter*/

.contact1 p {
  color: white;
  float: left;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 3%;
  font-size: 18px;
}

/*mis en page du boutton contact*/

.lcontact {
  background-color: #94C11F;
  border: 1px solid white;
  color: white;
  font-size: 22px;
  margin-top: 2%;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 8px 6px 8px #694817;
}
.lcontact:hover {
  background-color: white;
  border: 1px solid #878787;
  color: black;
}

/*effet parallax*/

#slide0 {
  height: 47vh;
  background: url(../img/20160309_143554.jpg) 0 no-repeat fixed;
  background-size: cover;
  z-index: 100;
}
#slide01 {
  height: 50vh;
  background: url(../img/grasse.jpg) center 0 no-repeat fixed;
  background-size: cover;
}
#slide1 {
  height: 48vh;
  background: url(../img/20160308_145117.jpg) 0 no-repeat fixed;
  background-size: cover;
  z-index: 100;
}
#slide2 {
  height: 50vh;
  background: url(../img/20160309_143742.jpg) center 0 no-repeat fixed;
  background-size: cover;
}
#slide3 {
  height: 50vh;
  background: url(../img/20160308_144523.jpg) center 0 no-repeat fixed;
  background-size: cover;
}
#slide4 {
  height: 50vh;
  background: url(../img/20160308_144523.jpg) center 0 no-repeat fixed;
  background-size: cover;
}
#slide5 {
  height: 50vh;
  background: url(../img/20160309_144023.jpg) center 0 no-repeat fixed;
  background-size: cover;
}

/*--------------------------------fin de page gestion et ressource des dechets---------------------------------------------*/


/*mis en plage de présentation */

.presentation7 {
  border-top: 2px solid #175624;
  border-bottom: 2px solid #175624;
}
.presentation8 {
  border-top: 2px solid #F37022;
  border-bottom: 2px solid #F37022;
}
.presentation9 {
  border-top: 2px solid #639A1A;
  border-bottom: 2px solid #639A1A;
}
.presentation10 {
  border-top: 2px solid #4C4B4E;
  border-bottom: 2px solid #4C4B4E;
}
.presentation11 {
  border-top: 2px solid #FD8412;
  border-bottom: 2px solid #FD8412;
}
.presentation12 {
  border-top: 2px solid #FD8412;
}

/*mis en place du logo*/

.eoep {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}
.resine {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}
.iniemploi {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}
.capg {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}

/*ajout du style au texte descriptif*/

.description7 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description8 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description9 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description10 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description11 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description12 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}

/*ajout du style au paragraphe du texte descriptif*/

.description7 p {
  font-family: Verdana;
  font-size: 14px;
  color: #175624;
  margin-left: 25%;
  margin-right: 25%;
}
.description7 ul {
  font-family: Verdana;
  font-size: 14px;
  color: #175624;
  margin-left: 25%;
  margin-right: 25%;
}
.description8 p {
  font-family: Verdana;
  font-size: 14px;
  color: #F37022;
  margin-left: 25%;
  margin-right: 25%;
}
.description9 p {
  font-family: Verdana;
  font-size: 14px;
  color: #639A1A;
  margin-left: 25%;
  margin-right: 25%;
}
.description10 p {
  font-family: Verdana;
  font-size: 14px;
  color: #4C4B4E;
  margin-left: 25%;
  margin-right: 25%;
}
.description10 ul {
  font-family: Verdana;
  font-size: 14px;
  color: #70B220;
  margin-left: 25%;
  margin-right: 25%;
}
.description11 p {
  font-family: Verdana;
  font-size: 14px;
  color: #655546;
  margin-left: 25%;
  margin-right: 25%;
}
.description12 p {
  font-family: Verdana;
  font-size: 14px;
  color: black;
  margin-left: 25%;
  margin-right: 25%;
}

#slide8 {
  height: 50vh;
  background: url(../img/20160309_142150.jpg) center 0 no-repeat fixed;
  background-size: cover;
}
#slide9 {
  height: 50vh;
  background: url(../img/20160308_144812.jpg) center 0 no-repeat fixed;
  background-size: cover;
}
/*--------------------------------fin de page developpement des mobilités ---------------------------------------------*/



/*mis en plage de présentation */

.presentation13 {
  border-top: 2px solid #175624;
  border-bottom: 2px solid #175624;
}
.presentation14 {
  border-top: 2px solid #F37022;
  border-bottom: 2px solid #F37022;
}
.presentation15 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.presentation16 {
  border-top: 2px solid #4C4B4E;
  border-bottom: 2px solid #4C4B4E;
}
.presentation17 {
  border-top: 2px solid #FD8412;
  border-bottom: 2px solid #FD8412;
}
.presentation18 {
  border-top: 2px solid #FD8412;
}

/*mis en place du logo*/

.fdb {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}
.appeze {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}

/*ajout du style au texte descriptif*/

.description13 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description14 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description15 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description16 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description17 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}
.description18 {
  background-color: white;
  padding-top: 1%;
  box-shadow: 0px -11px 19px #333333;
}

/*ajout du style au paragraphe du texte descriptif*/

.description13 p {
  font-family: Verdana;
  font-size: 14px;
  color: #175624;
  margin-left: 25%;
  margin-right: 25%;
}
.description13 ul {
  font-family: Verdana;
  font-size: 14px;
  color: #175624;
  margin-left: 25%;
  margin-right: 25%;
}
.description14 p {
  font-family: Verdana;
  font-size: 14px;
  color: #F37022;
  margin-left: 25%;
  margin-right: 25%;
}
.description15 p {
  font-family: Verdana;
  font-size: 14px;
  color: black;
  margin-left: 25%;
  margin-right: 25%;
}
.description16 p {
  font-family: Verdana;
  font-size: 14px;
  color: #4C4B4E;
  margin-left: 25%;
  margin-right: 25%;
}
.description16 ul {
  font-family: Verdana;
  font-size: 14px;
  color: #70B220;
  margin-left: 25%;
  margin-right: 25%;
}
.description17 p {
  font-family: Verdana;
  font-size: 14px;
  color: #655546;
  margin-left: 25%;
  margin-right: 25%;
}
.description17 p {
  font-family: Verdana;
  font-size: 14px;
  color: #B8860B;
  margin-left: 25%;
  margin-right: 25%;
}
.description17 ul {
  font-family: Verdana;
  font-size: 14px;
  color: #B8860B;
  margin-left: 25%;
  margin-right: 25%;
}
.description17 h1 {
  text-align: center;
  margin-bottom: 2%;
  font-size: 45px;
  color: #B8860B;
}
/*--------------------------------fin de page produire et échanger autrement---------------------------------------------*/


/*--------------------------------fin de page developpement d'une économie sociale du numérique---------------------------------------------*/


/*slide terre d'innovation*/

#slide6 {
  height: 81vh;
  background: url(../img/20160308_145404.jpg) 0 no-repeat fixed;
  background-size: cover;
}

/*mis en page du haut de page*/

.header1 {
  padding-top: 1%;
  padding-bottom: 3%;
  text-align: center;
  background-color: white;
  color: #94C11F;
  border-bottom: 2px solid #878787;
}

/*--------------------------------fin de page terre d'innovation---------------------------------------------*/


/*slide Centre de recherche*/

#slide7 {
  height: 81vh;
  background: url(../img/20160308_145404.jpg) 0 no-repeat fixed;
  background-size: cover;
}

/*mis en page du haut de page*/

.header2 {
  padding-top: 1%;
  padding-bottom: 3%;
  text-align: center;
  background-color: white;
  color: #94C11F;
  border-bottom: 2px solid #878787;
}

/*--------------------------------fin de page Centre de recherche---------------------------------------------*/
